html {
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

:focus-visible {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

a,
button,
input {
  font-family: inherit;
}

a {
  color: $focus-1;
  text-decoration: none;
  transition: $nfs linear;
}

body {
  font-family: $font-1;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  color: $content-1;
  background-color: $bg-1;

  &.custom-lock {
    overflow: hidden;
  }
}

main {
  overflow: hidden;
}
